body {
	font-family: "Georgia", "Times New Roman", "Times", "serif";
	font-color: #33333;
	margin: 0;
	padding: 0;
}

p {
	color: #777777;
	padding: 5px;
	margin: 0px 30px 0px 30px;
	font-family: arial;
}

header {
	background-color: #ffffff;
	color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-color: #cccccc;
	margin: 0px 0px 50px 0px;
	height: 90px;
	/*width: 960px;*/
}	

h1 {
	background-color:#4aaaa5;
	font-color: #FFFFFF;
	font-size: 26px;
	margin: 0px 0px 0px 195px;
	width: 160px;
	height: auto;
	text-align: center;
	padding: 15px;
	float: left;
}

#headerNav {
	font-family: sans-serif;
	float: right;
	height: 100px;
	width: 300px;
	text-align: center;
	line-height: 100px;
	margin: 0px 195px 0px 0px;
	background-color: #ffffff
	color: #999999;
	text-decoration: none;
}

#headerNav a {
	position: relative;
	text-decoration: none;
	background-color: #ffffff;
	color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	margin: 20px auto;
	padding: 0px 10px 0px 10px;
	height: 64px;
}

h2 {
	font-size: 24px;
	color: #4aaaa5;
	padding: 10px 0px 20px 0px;
	margin: 30px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

h3 {
	padding: 10px;
	margin: 10px;
	color: #4aaaa5;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
}

figure{
	float: left;
}

figcaption {
	position: absolute;
	width: 200px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	margin-top: -50px;	
	z-index: 1;
}

.container {
	width: 960px;
	margin: auto;
}
 
section {
	float: left;
	width: 650px;
	line-height: 1.5;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin: 5px;
	margin-bottom: 30px;
}
 #bioImage {
	float: left;
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 5px 10px 5px 0px;
}

aside {
	float: left;
	width: 270px;
	line-height: 1.5;
	background-color: #ffffff;
	margin: 5px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	padding-bottom: 20px;
}

footer {
	clear: both;
	overflow: auto;
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	font-size: 12px;
	font-family: sans-serif;
	line-height: 80px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color: #4aaaa5;
	margin-bottom: 0px;
}

/*p img {
	float: left;
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0px 10px 5px 0px;
}*/

#gallery img {
	max-width: 200px;
	max-height: 100px;
}

form {
	padding-left: 30px;
	padding-bottom: 30px;
	font-family: sans-serif;
}

input {
	margin-left: 30px;
	margin-bottom: 10px;
	width: 450px;
	height: 30px;
}

textarea {
	margin-left: 30px;
	width: 450px;
	height: 200px;
}

#submitButton {
	max-width: 80px;
	background-color: #4aaaa5;
	color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
}